*~
.htaccess

application/config/database.php
application/config/auth_ldap.php
application/config/googleapps.php
application/config/hybridauthlib.php
application/config/rest_client.php

.DS_Store
.idea/misc.xml
.idea/workspace.xml

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/third_party/grocery-crud/
application/third_party/image-crud/
application/third_party/fpdf-codeigniter/
application/third_party/google-api-php-client/
application/third_party/hybridauth/

application/third_party/skeleton_auth/application/config/auth_ldap.php

tools/sync_explotation_to_development_config.php
